.dark{

background:#020617;

color:white;

}



.dark .navbar{

background:#111827;

}



.dark .productCard{

background:#1e293b;

color:white;

}



.dark input{

background:#334155;

color:white;

}